body{
    font-family: Arial, Helvetica, sans-serif;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgb(63, 130, 224) 100%);  
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;  
    margin: 0;
}

.container {
    background-color: #e7edf4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 480px;
    box-shadow: 10px 8px 12px -1px rgba(0,0,0,0.29);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btnvalidar:hover{
    background-color: #93bce9;
    color: #000000;
}

input[type="password"], input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    appearance: none; /* Quita el estilo del sistema */
    background-color: #fafafc;
    border: 1px solid #e7edf4;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    

}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    appearance: none; /* Quita el estilo del sistema */
    background-color: #fafafc;
    border: 1px solid #e7edf4;
    border-radius: 4px;
}

#btnvalidar{
    margin-top: 15px;
    background-color:#0363c9;
    color: #f0f8ff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.toggle_password {
    position: absolute;
    cursor: pointer;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
    color: #a3aaa5;
}

.inputs {
    position: relative;
    width: 100%;
}
.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.input-error {
    border: 2px solid rgb(229, 27, 27) !important;
}