/* Estilos para etiquetas semanticas  */

body{
   font-family: Arial, sans-serif;
   background-color: rgb(208, 208, 208);
   margin:  0;
   padding: 0;
   background-image: url(https://img.freepik.com/vector-premium/moderna-tecnologia-plantilla-pancarta-cubos-textura-lineas-puntos_230610-1682.jpg);
   background-size: contain;
   background-repeat: repeat;
   background-position: center;
}

main{
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header{
background-color: rgb(49, 100, 144);
color: rgb(255, 255, 255);
padding: 20px;
text-align: center;
}

/* Estilo para el menú de navegación  */

.menu_nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}

.menu_nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_nav ul li{
    display: inline-block;
    position: relative;
    padding: 10px;
  
}

.menu_nav ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: rgb(101, 147, 238);
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
    min-width: 100px;
}

.menu_item:hover .submenu {
    display: block;
}

.submenu li  {
    width: 100%;
    display: block;
}

.submenu li a:hover {
    background-color: #555;
    padding: 10px;
}

/* Estilo para footer  */

footer{
    background-color: rgb(101, 140, 180);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

footer p{
    margin: 0;
}

/* Estilo para tabla */

h2{
color: black;
}

table{
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid rgb(0, 0, 0);
}

th, td{
padding: 10px;
text-align:center;
}

thead{
    background-color: rgb(152, 158, 158);
}

.alinear_texto{
    text-align: left;
}

.bordetabla{
    border-color: rgb(255, 255, 255);
    text-align: left;
}

.contenedor {
  display: flex; /* Coloca los elementos uno al lado del otro */
  align-items: center; /* Alinea los elementos verticalmente si tienen diferente altura */
}

.contenedor img {
  margin-top: 35px;
  width: 250px; /* Ajusta el tamaño de la imagen según necesites */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 55px; /* Añade un espacio entre la imagen y el texto */
}

.contenedor p {
  /* Estilos adicionales para el texto */
  text-align: left;
  font-weight: normal;
}

.RellenoCelda{
    background-color: #f5f5f5;
}

#CeldaEncabezado{
    background-color: rgb(101, 140, 180);
    border-bottom-style: solid; /* O el estilo que prefieras */
    border-bottom-width: 3px;   /* O el grosor que desees */
    border-bottom-color: black; /* O el color que prefieras */
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

.celdas{
    border-color: #ffffff00;
    text-align: left;
}

#title{
   color: rgb(101, 140, 180);
   font-size: 30px;
}

#subtitle{
  font-size: 25px;  
  padding: 20px;
}

#bkcol{
    background-color: #ffffff;
}
